{% extends "main/jeneral.html" %}
{% load static %}
{% block title %} Главная {% endblock %}
{% block main %}
<div class="resume_container">
    <div class="main_inf" id="inf_main">
        <div>
            <img src="{% static 'main/images/my_photo.PNG' %}" alt="">
        </div>
        <div class="fio_post">
            <p id="name">Максим</p>
            <p id="female">Фомин</p>
            <p id="profession">developer</p>
        </div>
        <div class="links">
            <a href="" class="contacts"><img src="{% static 'main/images/telegram.png' %}" alt=""></a>
            <a href="" class="contacts"><img src="{% static 'main/images/whatsapp.png' %}" alt=""></a>
            <a href="" class="contacts"><img src="{% static 'main/images/vk.png' %}" alt=""></a>

        </div>
    </div>
    <div class="skills_container">
        <div class="left_container">
            <h3>Навыки</h3>
        </div>
        <div>
            <ul>
                <li class="left_li"><img src="{% static 'main/images/python_color.png' %}" alt=""
                        class="left_container_img"></li>
                <li class="left_li"><img src="{% static 'main/images/css3_color.png' %}" alt=""
                        class="left_container_img"></li>
                <li class="left_li"><img src="{% static 'main/images/html5_color.png' %}" alt=""
                        class="left_container_img"></li>
                <li class="left_li"><img src="{% static 'main/images/github.png' %}" alt="" class="left_container_img">
                </li>
                <li class="left_li"><img src="{% static 'main/images/gitlab_color.png' %}" alt=""
                        class="left_container_img"></li>
                <li class="left_li"><img src="{% static 'main/images/linux_color.png' %}" alt=""
                        class="left_container_img"></li>
                <li class="left_li"><img src="{% static 'main/images/django.png' %}" alt="" class="left_container_img">
                </li>
            </ul>
        </div>
    </div>
    <div class="skills_container">
        <div class="left_container">
            <h3>Сертификаты</h3>
        </div>
        <div class="cert">
            <img src="{% static 'main/images/sert_2024.png'%}" alt="" id="sert_1">
            <img src="{% static 'main/images/sert_2024_1.png'%}" alt="" id="sert_2">
            <img src="{% static 'main/images/sert_2023.png'%}" alt="" id="sert_3">
        </div>
    </div>
    <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, eum qui dolores asperiores quis, quia
        deserunt doloribus quas adipisci rerum eveniet pariatur in accusantium minima saepe ullam facere ex quasi.
        Qui repellat dignissimos porro, totam nam eum alias accusantium libero repellendus fuga sequi nisi voluptatem
        voluptates maxime itaque reprehenderit. Exercitationem, unde id vero nesciunt alias rem perspiciatis asperiores
        ipsa quo!
        Sunt ratione illum expedita, velit quos consequuntur eius doloribus? Accusamus corporis aperiam totam, non
        mollitia quidem harum doloremque porro deleniti. Ipsa soluta officiis pariatur fugiat natus? Commodi voluptates
        quisquam debitis.
        Reprehenderit, commodi sunt repellendus blanditiis vero at ex tempora pariatur cumque excepturi perferendis
        maxime odio. Officia, atque exercitationem laboriosam, maiores error nihil explicabo obcaecati voluptates sit
        reiciendis illo laudantium dolore!
        Doloremque nihil ad veritatis maxime, soluta laudantium fugit rerum vitae aspernatur dicta, ex voluptas, aliquid
        ipsa eveniet voluptate facere? Accusantium, ullam aspernatur laboriosam rem eius officiis itaque placeat
        expedita. Tempora.
        Cupiditate harum debitis dolores accusantium eum, accusamus quos provident atque ad vero reiciendis recusandae
        alias repellendus libero molestiae in beatae temporibus similique. Voluptatibus asperiores tempore minus
        explicabo maiores delectus iusto.
        Vitae repellat tempora exercitationem ipsa ipsum ratione commodi aut? Odio fuga possimus sapiente, doloremque
        neque voluptate quia dolores quos provident atque, autem minus perspiciatis necessitatibus porro sequi rerum
        velit reiciendis.
        Nostrum provident dolor, ex esse, cumque sunt dolore illo, tempora nisi recusandae doloremque optio. Autem
        possimus eveniet reprehenderit, velit nesciunt, accusamus totam temporibus soluta reiciendis, ipsum quod alias.
        Vitae, unde.
        Incidunt a illo repellendus, distinctio rem autem veritatis quia eius asperiores aperiam facilis soluta dolores
        laborum quae cupiditate aut est quis tempora quisquam? Odit incidunt, possimus numquam enim aspernatur quas?
        Voluptates at aperiam similique id ullam quas dolorum quod neque animi quisquam, perspiciatis tenetur cumque
        molestias enim quam veniam quos facilis! At consectetur asperiores repudiandae. Beatae ipsam neque nesciunt
        maiores!
        Sequi nesciunt natus dolor neque iure dignissimos incidunt amet aut veritatis, repellat asperiores beatae
        reiciendis dolores eaque. Voluptatem adipisci aliquam tempora id quos doloremque aut. Recusandae accusantium
        inventore quos rerum?
        Doloribus expedita omnis esse excepturi rem labore repellat porro? Voluptates officia, a nobis reiciendis nisi
        et magnam necessitatibus saepe totam, laudantium aut vel libero dolore, quisquam cumque. Expedita, dicta quod!
        Consectetur ea unde cum consequuntur blanditiis amet aperiam alias veritatis facilis tenetur, molestias
        inventore? Architecto inventore dolore nobis animi, assumenda molestias eaque ipsa eius eligendi sequi, iure ut
        ad officiis?
        Impedit a in asperiores, facere adipisci eum molestias fuga ducimus recusandae et placeat dolore doloribus ea
        nesciunt ut eos eaque quisquam voluptate! Temporibus dignissimos unde inventore earum iusto vitae eligendi?
        Perspiciatis pariatur harum ipsum, odio fugiat cumque iure laboriosam maiores placeat doloribus, soluta impedit
        nostrum nemo facere corrupti. Quos natus hic sed dolorum itaque ea culpa adipisci suscipit rerum. Mollitia.
        Dicta aut dolor, sunt quos vitae minus repudiandae corrupti, sapiente autem neque obcaecati sint repellendus qui
        maiores quo deleniti. Maiores, suscipit quas. Illo optio, aut eaque excepturi minus est praesentium.
        Eveniet, quod minus iste, vero architecto, autem ipsum earum quia quo deleniti omnis ut beatae assumenda rerum
        odio accusantium! Eligendi omnis ducimus voluptas quae quidem dolores sequi similique, eaque mollitia?
        Praesentium, repellendus? Asperiores rerum beatae ratione quaerat consequatur exercitationem quibusdam.
        Aspernatur rem soluta nostrum, ex quia officia dicta porro repudiandae asperiores, nihil quam, suscipit
        veritatis hic distinctio unde quis aliquid.
        Eos esse atque, doloribus ab mollitia dolorum minima, praesentium officiis quibusdam molestias itaque cupiditate
        maxime laborum ratione dicta iste corporis, deserunt perferendis nihil earum. Excepturi repellat impedit placeat
        deleniti explicabo!
        Iusto laboriosam pariatur fuga voluptatem minus? Veniam atque vero quisquam, similique cumque accusantium
        delectus totam cum suscipit. Quidem eum amet culpa, officiis dignissimos enim perferendis iste aperiam iure
        incidunt ipsa?
    </div>
    <div>

    </div>

</div>
{% endblock %}